<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B26AD561E6A498D00EA7608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B51FF561E6A475D00757FFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B63FFFC1B7406CC00858375</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8EF0B11E6A436D00443C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9155731B73FDAD00AC986B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BAE60DE1E68D200004DCC74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF7065E1B71428700B3C7B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>635214BE1AE161A70099C95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>635215131AE167430099C95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>635215231AE167DA0099C95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2FF9361D9D7C81001DFE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA6E402A1D9D52F000EBEE03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0620991E3A5DF4008B88A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0625651E3A5E13008B88A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB8983C91E326F0D0074CE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB89874E1E326F370074CE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
